/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* Brendan's Less CSS for Resume.example project */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0px solid black;
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v9/iJWKBXyIfDnIV7nBrXk.ttf) format('truetype');
}
body {
  font-family: 'Rubik', sans-serif;
}
nav {
  box-shadow: inset 0px 0px 2px black;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav ul li {
  padding: 0.5% 0.5%;
  margin: 1% 0%;
  background-color: white;
  border-radius: 10px;
}
nav ul li a {
  color: grey;
  text-decoration: none;
}
nav ul li:hover {
  background-color: lightgrey;
}
nav ul li:hover a {
  color: black;
}
.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 11%;
  background-image: url(/img/orus.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.showcase h1 {
  font-size: 5rem;
  color: white;
  text-align: center;
  text-shadow: 0px 3px 0px black;
}
.showcase p {
  color: white;
  font-size: 1.5rem;
  padding: 3% 0%;
  text-shadow: 0px 3px 0px black;
}
.sect1 {
  display: flex;
  justify-content: space-around;
  padding: 150px 0%;
  background-color: #F9F9F9;
}
.sect1 .boxinfo {
  margin: 1% 7.5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3% 1%;
  border-radius: 5px;
  box-shadow: 0px 0px 2px black;
  background-color: white;
}
.sect1 .boxinfo h2 {
  font-size: 4rem;
  text-align: center;
  padding: 2% 1%;
  margin: 0% 10%;
  border-bottom: 2px solid black;
}
.sect1 .boxinfo p {
  margin-top: 7%;
  padding: 1%;
  text-align: center;
}
